			body{
 				font-family:  "Maven Pro", "Quicksand",  Arial;
  				background-color: #000000;
  				color: #cccccc;
  				text-align: center;
                margin-top: 0px;
			}
			.background{
				max-width:1600px;
				width: 80%;
				margin-right: 10%;
				margin-left: 10%;
				background-color: #151515;
                position: absolute;
			}
			h4 {
				margin-top: 5px;
			}
			h1 {
				color: #ffffff;
				font-size: xx-large;
			}
			h1 {
				margin-bottom: 5px;
			}
			.footer{
				max-width:1600px;
                width: 79%;
				margin-right: 11%;
				margin-left: 11%;
				position: fixed;
				bottom: 0;
				left:0;
				color: white;
				background-color:#151515;
				text-align:center;
				padding-bottom: 15px;
				padding-top: 15px;
				z-index:5;
			}
			.footer a {
				z-index: 5;
  				display: inline-block;
  				color: #ffffff;
  				text-align: center;	
  				padding: 0px 5px;
  				text-decoration: none;
			}
			.footer a:hover {
				transition: .1s;
  				color: #f18b6d;
			}
			.content{
				max-width:1600px;
  				margin-top:30px;
				margin-right: auto;
				margin-left: auto;
  				padding-right:60px;
  				padding-left:60px;
				margin-bottom: 80px;
			}
			.text {
				max-width: 700px;
			}
			img {
				border-radius: 10px;
			}
			.logo{
				max-width: 300px;
			}
			p a {
  				color: white;
  				text-decoration: none;
  				border-bottom: 1px dotted;
			}
			ul {
				z-index:5;
  				list-style: none;
  				margin:0;
  				padding:0;
  				overflow: hidden;
  				background-color: #151515;
  				position:sticky;
  				top:0;
  				width:700px;
				height:50px;
  				text-align:center;
				margin-left:auto;
				margin-right:auto;
				border-radius:30px;
				margin-top:30px;
				margin-bottom:30px;
			}
			li {
				overflow: hidden;
  				display: inline-block;
 				height: 50px;
				border-radius: 30px;
				transition: .1s;
			}
			li a {
				z-index: 5;
  				display: inline-block;
  				color: #999999;
  				text-align: center;
  				padding: 14px 16px;
  				text-decoration: none;
			}
			li:hover {
				background-color: #f18b6d; 
			}
			li a:hover {
				transition: .1s;
  				color: #ffffff;
			}
			p a:hover {
  				color: #f18b6d;
			}
			p {
				text-align: justify;
			}
			.active {
  				color: #93d8f4;
			}
			.clearfix {
				overflow: auto;
			}
			.active {
  				color: #93d8f4;
			}
			.hoverImage {
				display:inline-block;
				position: relative;
				width: 400px;
				height: 350px;
				margin: 20px;			}
			.hoverImage img {
				height:100%;
				z-index:1;
				width:100%;
				transition:.4s;
				border-radius:10px;
			}
			.hoverImage :not(img) {
				z-index:2;
				position:absolute;
				color: #ffffff;
				text-align: center;
				opacity:0;
				transition:.4s;
			}
			.hoverImage p {
				top:20%;
				text-align: center;
				width:90%;
				margin-left: 5%;
				margin-right: 5%;
			}
			.hoverImage h2 {
				width:80%;
				margin-right: 10%;
				margin-left: 10%;
				top:7%;
			}	
			.hoverImage:hover :not(img){
				opacity:1;
			}
			.hoverImage:hover img{
				filter:blur(2px) brightness(20%);
			}
			.hoverImage a {
				position:relative;
  				text-decoration: none;
  				border-bottom: 1px dotted;
			}
			.hoverImage a:hover {
  				color: #f18b6d;
			}
			.button a {
  				color: #151515;
  				text-decoration: none;
			}
			.button {
  				display: inline-block;
  				border-radius: 30px;
  				background-color: #202020;
  				color: #999999;
  				text-align: center;
  				font-size: 16px;
  				padding: 10px;
  				width: 140px;
  				transition: all 0.5s;
  				cursor: pointer;
  				margin-right:5px;
  				margin-left:5px;
				border-width: 0px;
			}

			.button span {
  				cursor: pointer;
  				display: inline-block;
  				position: relative;
  				transition: 0.5s;
			}

			.button span:after {
  				content: '>>';
  				position: absolute;
  				opacity: 0;
  				top: 0;
  				right: -20px;
  				transition: 0.5s;
			}

			.button:hover {
  				background-color: #f18b6d;
				color: #ffffff;
			}

			.button:hover span {
  				padding-right: 25px;
			}

			.button:hover span:after {
  				opacity: 1;
  				right: 0;
			}
